.Todo-Nav {
  box-sizing: border-box;
  padding: 16px;
  width: 265px;
  background-color: #fafafa;
}

.Todo-Nav-Label {
  font-size: 14px;
  text-transform: uppercase;
}

.Todo-Nav-All {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Todo-Nav-Elem {
  font-size: 14px;
  margin: 5px 0;
  padding-left: 13px;
}

.Todo-Nav-Elem:active {
  background-color: aqua;
}

.Todo-Nav-Elem.activ {
  background: #000;
}
